@if $debug {
  div,
  section,
  article,
  footer,
  main {
    outline: 1px solid green;
  }
}

html {
  scroll-behavior: smooth;
  font-family: sans-serif;
}

p {
  font-size: 1.3rem;
}

li {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.6rem;
  color: rgb(0, 0, 118);

  &::first-letter {
    font-size: 1.7rem;
  }
}

h4 {
  font-size: 1.4rem;
  color: rgb(0, 0, 118);
}

main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 380px 60px repeat(3, minmax(400px, auto)) 0.3fr;
  grid-template-areas:
    "mainheader"
    "stickynav"
    "row3"
    "row2"
    "row1"
    "footer";
  background-image: url(bilder/backgroundpic3.jpg); // Fri använding, av Jermy Bishop på pexels.com
  background-size: 100%;
}

section,
footer {
  background-color: $backgroundcolor;
}

a {
  text-decoration: none;
  color: inherit;
}

.standardlink {
  color: blue;
  text-decoration: underline;
}

.mainheader {
  grid-area: mainheader;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
  grid-template-areas: ". topheadleft topheadright .";
  color: white;
  place-items: center;
  background: none;

  header {
    grid-area: topheadleft;
    font-family: "Sora", sans-serif;
    text-align: center;

    h1 {
      font-size: 4rem;
    }

    h2 {
      font-size: 2rem;
    }
  }

  img {
    grid-area: topheadright;
    border-radius: 100px;
  }
}

nav {
  grid-area: stickynav;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgba(4, 19, 42, 0.8);
  box-shadow: 5px 7px 8px #888888;
  font-family: "sora", sans-serif;
  z-index: 10;

  ul {
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    z-index: 5;
    padding-left: 0;
    li {
      list-style: none;
      font-size: 1.3rem;
      transition: all 0.3s ease-in-out;
      animation: navanimation 0.6s ease-in-out 0.5s 2 alternate none;

      &:hover {
        font-size: 1.7rem;
      }
    }
  }
}

.row3 {
  grid-area: row3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  article {
    padding: 3% 2% 0 7%;
  }

  article:nth-child(1) {
    ul {
      padding-right: 10px;
    }
    li {
      margin-bottom: 10px;
    }
  }

  article:nth-child(2) {
    box-shadow: 0 0 15px grey;
    background-color: whitesmoke;
    z-index: 2;
  }

  article:nth-child(odd) {
    background-color: rgb(223, 227, 233);
  }

  article:nth-child(3) {
    div > ul {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      li {
        text-align: center;
        list-style: none;
        min-width: 90px;
        border: solid;
        border-radius: 10px;
        padding: 4px;
        color: $accentcolor3;
        background-color: $accentcolor2;
        transition: all 0.2s ease-in-out;
        &:hover {
          font-size: 1.6rem;
        }
      }
    }
  }
}

.row2 {
  grid-area: row2;
  display: flex;
  justify-content: center;
  padding-top: 30px;

  article {
    width: 30%;
    background-color: whitesmoke;
    z-index: 2;
    padding: 0 3% 7% 3%;

    ul {
      list-style: none;
    }
    ul li::before {
      // En onödigt komplicerad lösning
      content: "\2022";
      color: $accentcolor3;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }

  article:nth-child(1) {
    border-right: 3px solid $backgroundcolor;
  }
}

.row1 {
  grid-area: row1;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  article {
    width: 80%;
    background-color: rgb(223, 227, 233);
    h3 {
      font-size: 2.5rem;
      color: $accentcolor2;
      margin-left: 30px;
      border-bottom: 5px solid $accentcolor3;
      width: 190px;
      border-bottom-right-radius: 25px;
      border-bottom-left-radius: 5px;
      &::first-letter {
        font-size: 2.5rem;
      }
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 20px;
      padding: 2%;

      li {
        list-style: none;
        background-color: $accentcolor2;
        color: white;
        width: 250px;
        height: 300px;
        border-style: solid;
        border-color: rgb(4, 1, 82);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
          h4 {
            margin: 0;
            padding-top: 5px;
            font-size: 1.3rem;
            color: white;
          }
          img {
            border-top-style: solid;
            border-bottom-style: solid;
            border-color: $accentcolor3;
          }
          p {
            font-size: 1.1rem;
            margin: 0;
            padding: 0 5px 5px 5px;
            height: 40px;
          }
      }
    }
  }
}
.footer {
  grid-area: footer;
  height: 140px;
  width: 100%;
  a >   span {
    display:block;
    color: white;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    font-size: 4rem;
    margin-top: 10px
  }
}
