$debug: false;
$backgroundcolor: rgba(3, 13, 29, 0.8);
$accentcolor2: rgb(4, 19, 42);
$accentcolor3: rgb(196, 83, 58);
@import 'sass/_normalize.scss';
@import 'sass/_desktop-base.scss';
@import 'sass/animations';
@import 'sass/kontaktform-knapp'